/* * { border: 1px solid red; } */

body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color:darkslateblue;
    overflow: auto;
}


nav ul{
    list-style-type: none;
    margin: 4px;
    overflow: hidden;
    border: 2px solid coral;
    background-color:darkslateblue;
    font-size: 24px;
}

nav li{
    float: left;
    display: inline;
    margin: 0 8px
}

nav li a{
    display: block;
    color:coral;
    text-align: center;
    padding: 32px 32px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    /* color:darkslateblue; */
    /* background-color:coral; */
    border-left: 0.25px solid aquamarine;
    border-right: 0.25px solid aquamarine;
}
    
.active {
    background-color:coral;
    color:darkslateblue;
    font-weight: bold;
  }

.hero-image{
    background-image: url("../images/e.jpg");
    height: 256px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
    /* border: 1px solid darkslateblue;
    outline: 1px solid coral; */
    margin-left: 4px;
    margin-right: 4px;
    
}

.hero-text{
    color:darkslateblue;
    text-shadow: 2px 2px 5px coral;
    font-size: 32px;
    position: absolute;
    bottom: 0px;
    left: 16px;
} 

#me {
    width: 512px;
    float: left;
    border: 1px solid darkslateblue;
    outline: 1px solid coral;
    margin: 5px;
    padding: 2px;
}



#side{
   
    width: 20%;
    float: right;
    height: 100%;
    margin-top: -35px;
    padding: 20px;
    color: coral;
    border: 1px solid darkslateblue;
    outline: 1px solid coral;
}

form{
    margin-top: 20px;
}

textarea, input{
    color: darkslateblue;
    background-color:coral;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#tryagaintomorrow{
    color: coral;
}
.
/* 
footer {
    bottom: 0px;
    width: 100%;
    background-color: coral;
    height: 5vh;
    margin-top: 0px;
}

footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
    /* box-shadow: inset 0px 12px 12px -12px white; */
} */
