body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color:darkslateblue;
}


nav ul{
    list-style-type: none;
    margin: 4px;
    overflow: hidden;
    border: 2px solid coral;
    background-color:darkslateblue;
    font-size: 24px;
}

nav li{
    float: left;
    display: inline;
    margin: 0 8px
}

nav li a{
    display: block;
    color:coral;
    text-align: center;
    padding: 32px 32px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    /* color:darkslateblue; */
    /* background-color: coral; */
    border-left: 0.25px solid aquamarine;
    border-right: 0.25px solid aquamarine;
  }

 .active {
    background-color:coral;
    color:darkslateblue;
    font-weight: bold;
 }





 div.gallery {
    margin: auto;
    width: 25%;
  }
  
  div.gallery:hover {
    border: 1px solid coral;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
      }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color:coral;
    font-size: larger;
    margin-top: 10%;
    margin-bottom: 10%;
  }

.standard-text {
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-family: 'Times New Roman', Times, serif;
    /* border-radius: 10px; */
    background-color: coral;
    color: darkslateblue;
    border: solid 1px darkslateblue;
    outline: solid 1px coral;
}

.links {
    list-style: none;
    margin: 4px;
    overflow: hidden;
}

#orb {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 1px solid aquamarine;
    background-color: darkslateblue;
    animation-name: the_orb;
    animation-duration: 10s;
    position: relative;
    margin: auto;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes the_orb {
    from {background-color: darkslateblue;}
    to {background-color: coral;}
  }



/* footer {
    bottom: 0px;
    width: 100%;
    background-color: darkolivegreen;
    height: 5vh;
    margin-top: 0px;
}

footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
    box-shadow: inset 0px 12px 12px -12px white;
} */
